@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Berry custom colors */
  --color-berryPink: #f77fbe;
  --color-berryTeal: #52b2bf;
  --color-berryBlue: #004aad;
  --color-berryGray: #707070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes berry-float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.berry-float {
  animation: berry-float 4s ease-in-out infinite;
}

@font-face {
  font-family: "Atelia";
  src: url("/fonts/Atelia.woff2") format("woff2"),
       url("/fonts/Atelia.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Marble";
  src: url("/fonts/Marble/Marble ExtraBold.woff") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-display: swap;
}
